{
  "WebApiApplicationAssembly": "../../../WebApiTestApplication/bin/WebApiTestApplication.dll",
  "OutputDirectory": "../../../WebApiTestApplication/Scripts/Endpoints",
  "EndpointFileName": "Endpoints.ts",
  "Namespace": "Endpoints",
  "WriteAsModule": false,
  "GenerateInterfaces": true,
  "TypeMappings": [
    {
      "WebApiTypeName": "EncryptedIntAttribute",
      "TypeScriptTypeName": "string",
      "TreatAsAttribute": true
    }
  ]
}