{
  "WebApiApplicationAssembly": "C:\\pe\\platform\\src\\WebApp\\bin\\PEClient.dll",
  "OutputDirectory": "C:\\pe\\platform\\src\\WebApp\\scripts\\angular\\shared\\SharedServices\\Endpoints",
  "EndpointFileName": "Endpoints.ts",
  "Namespace": "SharedServices.Endpoints",
  "WriteAsModule": true,
  "GenerateInterfaces": true,
  "TypeMappings": [
    {
      "WebApiTypeName": "Neogov.PE.APIs.Helpers.Kendo.GridRequest",
      "TypeScriptTypeName": "SharedServices.Endpoints.GridRequest",
      "TreatAsAttribute": false
    },
    {
      "WebApiTypeName": "EncryptedIntAttribute",
      "TypeScriptTypeName": "string",
      "TreatAsAttribute": true
    }
  ]
}