{
  "WebApiModuleFileName": "../../../WebApiTestApplication/bin/WebApiTestApplication.dll",
  "EndpointsOutputDirectory": "../../../WebApiTestApplication/Scripts/Endpoints",
  "EndpointsFileName": "Endpoints.ts",
  "EndpointsNamespace": "Endpoints",
  "EnumsOutputDirectory": "../../../WebApiTestApplication/Scripts/Enums",
  "EnumsFileName": "Enums.ts",
  "EnumsNamespace": "Enums",
  "WriteNamespaceAsModule": false,
  "GenerateInterfaces": true,
  "GenerateEnums": true,
  "ScanOtherModules": true,
  "TypeMappings": [
    {
      "WebApiTypeName": "EncryptedIntAttribute",
      "TypeScriptTypeName": "string",
      "TreatAsAttribute": true
    }
  ]
}